
body {
  margin: 0;
}

.bg-[#E8EAF6] {
  background-color: #E8EAF6;
}

.to-gray-100 {
  background: linear-gradient(to bottom, #E8EAF6 0%, #F3F4F6 100%);
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.md\:w-1/2 {
  width: 50%;
}

.lg\:w-1/4 {
  width: 25%;
}

.lg\:w-3/4 {
  width: 75%;
}

.mb-8 {
  margin-bottom: 2rem;
}

.text-md {
  font-size: 1.125rem;
}

.font-medium {
  font-weight: 500;
}

.text-gray-900 {
  color: #1E293B;
}

.mt-4 {
  margin-top: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-gray-600 {
  color: #4B5563;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

.hover\:opacity-75:hover {
  opacity: 0.75;
}

.text-white {
  color: #fff;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-800 {
  color: #2D3748;
}

.text-center {
  text-align: center;
}

.lg\:text-left {
  text-align: left;
}
